<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate my professor</title>
</head>
<body>
    <header></header>
    <main>
        <h1>Rate my professor</h1>
        <div>
            {% for item in content %}
            {% if  %}
            <a href="/{{item.code}}">
                <p>{{item.code}}</p>
            </a>
            {% endfor %}
        </div>
    </main>
    <footer></footer>
</body>
</html>