<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZDMZ8W2DD2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZDMZ8W2DD2');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Professor Rating | CSULB</title>
</head>
<body class="bg-gray-200">
    <header class="">
        <nav class="bg-white p-6">
            <ul>
                <li>
                    <a href="/spring?year=2022&by=ge">GE classes: Spring 2022</a>
                </li>
                <li>
                    <a href="/fall?year=2021&by=ge">GE classes: Fall 2021</a>
                </li>
                <li>
                    <a href="/spring?year=2022&by=subject">General: Spring 2022</a>
                </li>
                <li>
                    <a href="/fall?year=2021&by=subject">General: Fall 2021</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="p-6">
        {% if (not content and not data) %}
            <div class="absolute grid grid-cols-2 bg-white border shadow rounded-lg top-1/2 left-1/2 w-6/12 h-64" style="transform: translate(-50%, -50%);">
                <a class="flex items-center justify-center hover:bg-gray-500 hover:text-gray-200 h-full w-full" href="/spring?year=2022&by=ge">
                    <div class="flex items-center justify-center text-lg">
                        <p>Spring 2022 GE</p>
                    </div>
                </a>
                <a class="flex items-center justify-center hover:bg-gray-500 hover:text-gray-200 h-full w-full" href="/fall?year=2021&by=ge">
                    <div class="flex items-center justify-center text-lg">
                        <p>Fall 2021 GE</p>
                    </div>
                </a>
                <a class="flex items-center justify-center hover:bg-gray-500 hover:text-gray-200 h-full w-full" href="/spring?year=2022&by=subject">
                    <div class="flex items-center justify-center text-lg">
                        <p>Spring 2022 Course</p>
                    </div>
                </a>
                <a class="flex items-center justify-center hover:bg-gray-500 hover:text-gray-200 h-full w-full" href="/fall?year=2021&by=subject">
                    <div class="flex items-center justify-center text-lg">
                        <p>Fall 2021 Course</p>
                    </div>
                </a>
            </div>
        {% endif %}
        <div class="h-full w-full">

            {% if content %}
                {% for item in content %}
                <a class="h-full w-full" href="/{{term}}?year={{year}}&by={{by}}&q={{item.code}}">
                    <div class="border border-1 bg-white rounded-lg p-6 mb-3 shadow text-lg font-bold">
                        <p>{{item.text}}</p>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
            {% if data %}
                {% for item in data %}
                <a class="h-full w-full" href="{{item.link}}"> 
                    <div class="border border-1 bg-white rounded-lg p-3 mb-3 shadow">
                        <div class="p-3">
                            <div class="text-4xl my-2 font-bold">
                                {% if item.rating > 4 %}
                                    <div class="text-green-700 flex justify-between items-end w-64"><p>Rating: {{item.rating}}</p><p class="text-lg">/ 5.0</p></div>
                                {% elif item.rating > 3 %}
                                    <div class="text-yellow-500 flex justify-between items-end w-64"><p>Rating: {{item.rating}}</p><p class="text-lg">/ 5.0</p></div>
                                {% else %}
                                    <div class="text-red-700 flex justify-between items-end w-64"><p>Rating: {{item.rating}}</p><p class="text-lg">/ 5.0</p></div>
                                {% endif %}
                            </div>
                            <div class="my-4 flex justify-between ">
                                <div class="">
                                    <p>Professor: {{item.fullname}}</p>
                                    <p>Course Name: {{item.course_name}}</p>
                                    <p>Course Code: {{item.course_code}}</p>
                                    <p>Professor Major: {{item.major}}</p>
                                </div>
                                <div class="">
                                    <p>Take Again: {{item.takeAgain}}</p>
                                    <p>Class ID for Enrollment: {{item.classID}}</p>
                                    <p>Difficulty: {{item.difficulty}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </main>
    <footer></footer>
</body>
</html>
