<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZDMZ8W2DD2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZDMZ8W2DD2');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Professor Rating | CSULB</title>
</head>
<body class="bg-gray-200">
    <header class="sticky top-0 bg-gray-700 text-white z-50">
        <nav class="p-6">
            <ul class="flex justify-evenly items-center lg:justify-start">
                <li class="lg:mr-10">
                    <a href="/">Home</a>
                </li>
                <li class="lg:mr-10">
                    <a href="/spring?year=2022&by=ge">Spring 2022 GE</a>
                </li>
                <li class="lg:mr-10">
                    <a href="/spring?year=2022&by=subject">Spring 2022</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="p-6 relative z-0">
        {% if home %}
            <div style="background-image: url('https://images.unsplash.com/photo-1527019918060-f08f8508fe28?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');" class="bg-no-repeat bg-cover text-gray-900 rounded-lg relative flex items-center justify-center h-96 lg:h-screen w-full bg-white">
                <h1 class="absolute top-1/3 text-4xl lg:text-6xl font-bold mb-6" style="transform: translateY(-50%);">Welcome to </br>CSULB Professor</br>Rating Viewer</h1>
                <div class="absolute top-2/3" style="transform: translateY(-50%);">
                    <div class="">
                        <p class="text-2xl lg:text-4xl font-semibold mb-3">Check out the latest semester</p>
                        <div class="w-full h-full flex justify-between items-center">
                            <a href="/spring?year=2022&by=ge" class="w-full h-full">
                                <button class="border-2 border-gray-900 hover:shadow-lg w-40 h-12 bg-gray-700 text-white px-6-py-3 rounded-lg">GE</button>
                            </a>
                            <a href="/spring?year=2022&by=subject"><button class="border-2 border-gray-900 hover:shadow-lg w-40 h-12 bg-gray-700 text-white px-6-py-3 rounded-lg">Subject</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="h-full w-full">
                <h3 class="text-3xl font-light mb-10">{{year}} {{term}} 
                    {% if 'ge' == by %}
                        GE
                    {% elif 'subject' == by %}
                        Subject
                    {% endif %}
                    courses
                </h3>
                {% if content %}
                    {% for item in content %}
                    <a class="h-full w-full" href="/{{term}}?year={{year}}&by={{by}}&q={{item.code}}">
                        <div class="border border-1 bg-white rounded-lg p-6 mb-3 shadow text-lg font-bold">
                            <p>{{item.text}}</p>
                        </div>
                    </a>
                    {% endfor %}
                {% endif %}
                {% if data %}
                    {% for item in data %}
                    <a class="h-full w-full" href="{{item.link}}"> 
                        <div class="border border-1 bg-white rounded-lg p-3 mb-3 shadow">
                            <div class="p-3">
                                <div class="text-4xl my-2 font-bold">
                                    {% if item.rating > 4 %}
                                        <div class="text-green-700 flex justify-between items-end w-64"><p>Rating: {{item.rating}}</p><p class="text-lg">/ 5.0</p></div>
                                    {% elif item.rating > 3 %}
                                        <div class="text-yellow-500 flex justify-between items-end w-64"><p>Rating: {{item.rating}}</p><p class="text-lg">/ 5.0</p></div>
                                    {% else %}
                                        <div class="text-red-700 flex justify-between items-end w-64"><p>Rating: {{item.rating}}</p><p class="text-lg">/ 5.0</p></div>
                                    {% endif %}
                                </div>
                                <div class="my-4 lg:flex lg:justify-between">
                                    <div class="font-light text-xl mb-3">
                                        <p>Professor: {{item.fullname}}</p>
                                        <p>Major: {{item.major}}</p>
                                    </div>
                                    <div class="mb-3 font-semibold text-xs lg:text-base">
                                        <p>Take Again: {{item.takeAgain}}</p>
                                        <p>Class ID for Enrollment: {{item.classID}}</p>
                                        <p>Difficulty: {{item.difficulty}}</p>
                                        <p>Course Name: {{item.course_name}}</p>
                                        <p>Course Code: {{item.course_code}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                {% endif %}
            </div>
            {% if not content and not data %}
                <div>
                    <p>The result you are looking for is not available.</p>
                    <p>This maybe because ...</p>
                    <p>The course description data has not been completely updated yet.</p>
                    <p>We ignore the data which has the professor name with "Staff."</p>
                    <a href="/">
                        <button class="border px-6 py-3 rounded bg-gray-700 text-white">
                            Go back to home
                        </button>
                    </a>
                </div>
            {% endif %}
        {% endif %} <!-- Home conditional statement ends here -->
    </main>
    <footer class="relative bottom-0 bg-gray-700 text-white px-3 h-48 lg:h-56 w-full">
        <div class="flex items-center justify-start h-full">
            <ul>
                <li><a href="https://github.com/Bundy-Mundi/">GitHub</a></li>
                <li>Email: ben.kweon01@student.csulb.edu</li>
            </ul>
        </div>
        <span class="text-gray-400 absolute bottom-px text-xs">
            <p>Copyright &copy; 2022 | Ben Kweon All Rights Reserved</p>
        </span>
    </footer>
</body>
</html>
